body {
  background-color: #bfccb5;
  margin: 0;
  text-align: center;
  /* font-family: sans-serif; */
  /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
  font-family: "Merriweather", serif;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  right: 360px;
  top: 50px;
}

.first-container {
  background-color: #eaf6f6;
  height: 100%;
  width: 100%;
  padding-top: 100px;
  position: relative;
}

h1 {
  font-family: "Sacramento", cursive;
  color: #66bfbf;
  font-size: 90px;
  /* line-height: 2; */
  margin: 50px auto 0 auto;
}

h2 {
  font-family: "Montserrat", sans-serif;
  /* color: #66bfbf; */
  color: #044545;
  font-size: 2.5rem;
  font-weight: bold;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  font-size: 150%;
}

.skill-row {
  width: 50%;
  margin: 40px auto 40px auto;
  text-align: left;
  line-height: 2;
  position: relative;
}

.code-logo {
  float: left;
  width: 25%;
  margin-right: 30px;
}

.ds-logo {
  float: right;
  width: 25%;
  margin-left: 60px;
}

.wb-description {
  clear: left;
}

.ds-description {
  clear: right;
}

.wb-heading {
  display: inline-block;
  position: absolute;
  top: 13%;
}

.ds-heading {
  display: inline-block;
  position: absolute;
  top: 13%;
  right: 30%;
}

.self-description {
  color: #40514e;
  margin: 0 auto;
  width: 50%;
}

.middle-container {
  background-color: #ade4db;
}

.bottom-container {
  background-color: #66bfbf;
  margin: 0;
  height: 200px;
  position: relative;
}

.footer-link {
  color: #11999e;
  padding: 0 45px;
  /* position: absolute; */
}

.bottom-links {
  position: absolute;
  left: 34%;
  top: 34%;
}

hr {
  border-color: #eaf6f6;
  margin-top: 40px;
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-width: 8px;
}

.contact-button {
  font-family: "Times New Roman", Times, serif;
  color: white;
  background-color: #838b89;
  height: 60px;
  width: 200px;
  /* border-top-left-radius: 50%;
  border-bottom-right-radius: 50%; */
  border: 0;
  border-radius: 5px;
  margin: 50px auto;
}

.footer-desc {
  width: 50%;
  margin: 0 auto;
}

.copyright {
  margin: 50px;
}
